body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

form {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

label, input {
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    display: block;
    font-weight: 600;
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.mandatory {
    color: red;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles specific to the welcome page */
.welcome-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.password-strength {
    margin-top: 20px;
}

#strengthValue {
    font-weight: bold;
    color: #007BFF;
}
